nearbyaircraft/functions/distMin/venv/
nearbyaircraft/functions/recolheVoos/venv/
nearbyaircraft/functions/recolheVoos/venv/
nearbyaircraft/functions/recolheVoos/venv/
nearbyaircraft/functions/recolheVoos/backups/
nearbyaircraft/backend/venv
nearbyaircraft/backend/__pycache__
nearbyaircraft/.vscode
nearbyaircraft/ignore/